################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GasReact.BLL/bin/Debug/net8.0
/GasReact.BLL/obj
/GasReact.DAL/bin/Debug/net8.0
/GasReact.DAL/obj
/GasReact.WebApp/bin/Debug/net8.0
/GasReact.WebApp/obj
/.vs
