@model IEnumerable<GasReact.DAL.Entities.Record>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Records";
}
<div class="container">
    <ul>
        <h3>All Records</h3>
        @{
            foreach (var record in Model)
            {
                <li>
                    RecordId @record.RecordId | FermentatorName @record.Fermentator?.FermentatorName
                    <input type="button" value="Details"/>
                </li>
            }
        }
    </ul>
</div>
